<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cinema - Cadastro do Cliente</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container-main">
        <form action="{{ url_for('cliente', ingresso_id=ingresso_id) }}" method="post">
            <span>🧾 Cadastro do Cliente</span>

            <div class="container-input container-interno">
                <label for="nome">Nome completo:</label>
                <input type="text" id="nome" name="nome" placeholder="Digite seu nome" required>

                <label for="cpf">CPF:</label>
                <input type="text" id="cpf" name="cpf" placeholder="Digite seu CPF (opcional)">

                <label for="telefone">Telefone:</label>
                <input type="text" id="telefone" name="telefone" placeholder="(xx) xxxxx-xxxx" required>

                <label for="cidade">Cidade:</label>
                <input type="text" id="cidade" name="cidade" placeholder="Digite sua cidade" required>
            </div>

            <div class="container-button container-interno">
                <input type="submit" value="Continuar para Sessões">
            </div>
        </form>
    </div>
</body>
</html>
