<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Pagamento</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container-main">
        <form action="{{ url_for('pagamento', ingresso_id=ingresso_id, sessao_id=sessao_id) }}" method="post">
            <span>💳 Pagamento</span>

            <div class="container-input container-interno">
                <label>
                    <input type="radio" name="tipo" value="meia" required>
                    Meia Entrada - R$ 15
                </label>

                <label>
                    <input type="radio" name="tipo" value="inteira" required>
                    Inteira - R$ 30
                </label>
            </div>

            <div class="container-button container-interno">
                <input type="submit" value="Confirmar Pagamento">
            </div>
        </form>
    </div>
</body>
</html>
